@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playpen+Sans&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Playpen Sans', cursive;
	font-size: 18px;
	margin: 0px;	
}

h1, h2, h3 {
	font-family: 'Courgette', cursive;
	font-weight: bold;
}

a {
	text-decoration: none;
}